<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>💀 Enchanted Dungeon</title>
  {{#libs}}
  <script src="{{ . }}"></script>
  {{/libs}}
</head>

<body style="margin:0;padding:0;overflow:hidden;background-color:0">
  <canvas id="g" width="640" height="480"></canvas>
  {{{ script }}}
</body>

</html>
