<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>💀</title>
  {{#libs}}
  <script src="{{ . }}"></script>
  {{/libs}}
</head>

<body style="margin:0;padding:0;overflow:hidden;">
  <canvas id="g" width="600" height="400" style="border:1px dashed black"></canvas>
  {{{ script }}}
</body>

</html>
